<!--
SPDX-FileCopyrightText: 2023 Galagic Limited, et al. <https://galagic.com>

SPDX-License-Identifier: CC-BY-SA-4.0

Self-hosted lists of any kind: wishlists, task lists, collections and more.

For full copyright information see the AUTHORS file at the top-level
directory of this distribution or at
[AUTHORS](https://gitlab.com/thegalagic/listidge/AUTHORS.md)

This work is licensed under the Creative Commons Attribution 4.0 International
License. You should have received a copy of the license along with this work.
If not, visit http://creativecommons.org/licenses/by/4.0/ or send a letter to
Creative Commons, PO Box 1866, Mountain View, CA 94042, USA.
-->

{% load static %}
{% load django_bootstrap5 %}
<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  {% block styles %}
    {% bootstrap_css %}
  {% endblock %}
  <title>{% block title %}Listidge{% endblock %}</title>
  <link rel="icon" href="{% static 'listidge/favicon.svg' %}">
</head>
<body> 
  {% block scripts %}
    {% bootstrap_javascript %}
    {% bootstrap_messages %}
  {% endblock %}
  {% block content %} {% endblock %}
</body>
</html>
