<!--
SPDX-FileCopyrightText: 2023 Galagic Limited, et al. <https://galagic.com>

SPDX-License-Identifier: CC-BY-SA-4.0

Self-hosted lists of any kind: wishlists, task lists, collections and more.

For full copyright information see the AUTHORS file at the top-level
directory of this distribution or at
[AUTHORS](https://gitlab.com/thegalagic/listidge/AUTHORS.md)

This work is licensed under the Creative Commons Attribution 4.0 International
License. You should have received a copy of the license along with this work.
If not, visit http://creativecommons.org/licenses/by/4.0/ or send a letter to
Creative Commons, PO Box 1866, Mountain View, CA 94042, USA.
-->

{% extends "listidge/base.html" %}

{% load static %}
{% load django_bootstrap5 %}

{% block title %}Register{% endblock %}
{% block content %}

<div class="container vh-100">
  <form class="container-sm mt-5" action="{% url 'listidge:register_user' %}" method="post" style="max-width: 330px;">
    <img class="mx-auto d-block img-fluid" src="{% static 'listidge/logo.png' %}" alt="" width="300" height="119">
    <h3 class="mb-3 fw-normal text-center">Create your account</h3>
    {% csrf_token %}
    <div class="alert alert-warning alert-dismissible" role="alert">
      <strong>Caution: </strong>this is a prototype, insecure and unreliable. Data is deleted regularly. Don't enter any private information.
      <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
    {% if error %}
    <div class="alert alert-danger" role="alert">
      {{ error }}
    </div>
    {% endif %}
    <div class="form-group my-1">
      <input type="text" class="form-control" name="username" id="username" placeholder="Username">
    </div>
    <div class="form-group">
      <input type="password" class="form-control" name="password" id="password" placeholder="Password">
    </div>
    <button type="submit" class="w-100 mt-3 btn btn-lg btn-primary">Register</button>
  </form>
  <p class="text-center my-3">Already have an account? <a href="/login">Sign in</a></p>
  <p class="text-center my-3 text-muted">Open source - find us on <a href="https://gitlab.com/thegalagic/listidge">GitLab</a></p>
</div>
{% endblock %}
